[user]
	name = Stephen Zhang
	email = zsrkmyn@gmail.com
	signingkey = C0BFAC35
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	co = checkout
	c-p = cherry-pick
	rst = reset
	st = status -uno
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
